@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!-- Page For User -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page | CRM System</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nunito" />
    <!-- <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> -->
</head>
<style>
    * {
        font-family: Nunito;
    }

    body {
        font-family: Nunito;
    }

    .sidebar {
        height: 100%;
        width: 250px;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #e9e3e3;
        padding-top: 20px;
        text-align: center;
        box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.5);
    }

        .sidebar button {
            padding: 15px 15px;
            text-decoration: none;
            font-size: 25px;
            color: black;
            font-weight: bold;
            display: block;
            width: 100%;
            height: 80px;
            text-align: left;
            border: none;
            background: none;
            cursor: pointer;
            background: #e9e3e3;
            border-bottom: 2px solid rgb(114, 114, 114);
            border-radius: 7px;
            transition: background-color 0.3s;
        }

            .sidebar button:hover {
                background-color: #a7a7a7;
            }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
        justify-content: center;
        align-items: center;
    }

    .modal-content {
        background-color: white;
        margin: auto;
        padding: 40px;
        border-radius: 3px;
        width: 400px;
        text-align: center;
        font-size: 20px;
    }

    .modal button {
        background: #D8D8D8;
        margin: 20px;
        padding: 1px 15px;
        font-size: 18px;
        border: 1px solid #D8D8D8;
        border-radius: 3px;
        transition: background-color 0.3s, border 0.3s;
        cursor: pointer;
    }

        .modal button:hover {
            background: #B0B0B0;
            border: 1px solid #B0B0B0;
        }
</style>
<body>
    <!-- SIDEBAR -->
    <div class="sidebar">
        <button id="dashboardBtn" class="dashboardBtn">DASHBOARD</button>
        <button id="teamsBtn" class="teamsBtn">TEAMS</button>
        <button id="employeesBtn" class="employeesBtn">EMPLOYEES</button>
        <button id="usersBtn" class="usersBtn">USERS</button>
        <button id="profileBtn" class="profileBtn">PROFILE</button>
        <button class="logoutBtn">LOGOUT</button>
    </div>
    <div id="content" class="content"></div>
    <!-- Log Out -->
    <div id="logoutModal" class="modal">
        <div class="modal-content">
            <p>Ви впевнені що хочете вийти з Акаунту?</p>
            <button id="confirmLogout">Так</button>
            <button id="cancelLogout">Ні</button>
        </div>
    </div>
    <script>
        //for dashboard btn
        document.getElementById('dashboardBtn').addEventListener('click', function () {
            window.location.href = '/Dashboard/Index';
        });
        //for employees btn
        document.getElementById('employeesBtn').addEventListener('click', function () {
            window.location.href = '/Employees/Index';
        });
        //for teams btn
        document.getElementById('teamsBtn').addEventListener('click', function () {
            window.location.href = '/Teams/Index';
        });
        //for users btn
        document.getElementById('usersBtn').addEventListener('click', function () {
            window.location.href = '/Users/Index';
        });
        //for logout btn
        document.querySelector('.logoutBtn').addEventListener('click', function () {
            document.getElementById('logoutModal').style.display = 'flex';
        });
        document.getElementById('confirmLogout').addEventListener('click', function () {
            window.location.href = '/home/Index';
        });
        document.getElementById('cancelLogout').addEventListener('click', function () {
            document.getElementById('logoutModal').style.display = 'none';
        });
        window.onclick = function (event) {
            var modal = document.getElementById('logoutModal');
            if (event.target == modal) {
                modal.style.display = 'none';
            }
        }
    </script>
</body>
</html>