@{
    ViewData["Title"] = "Home Page";
}

<!-- Log In Page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrance | CRM System</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nunito" />
</head>
<style>
* 
{
    font-family: Nunito;
}
body 
{      
    font-family: Nunito;        
    background-image: url('/images/BGpurpleATLAS.png');        
    background-size: cover;       
    background-repeat: no-repeat;       
    background-position: center center;
}
.loginWin 
{       
    background: white;     
    border-radius: 4px;      
    color: black;      
    position: absolute;      
    width: 600px;     
    height: 500px;      
    right: 35%;       
    top: 20%;
}
.inputbox input 
{        
    width: 100%;        
    height: 40px;        
    background: transparent;        
    border: none;        
    outline: none;        
    font-size: 18px;      
    padding: 0 35px 0 5px;  
    color: black;
}
.inputbox 
{        
    position: relative;       
    margin-left: 65px;        
    margin-top: 35px;        
    max-width: 350px;        
    border-bottom: 2px solid rgba(63, 63, 71, 1);
}
.inputbox label 
{           
    position: absolute;           
    top: 50%;           
    left: 5px;            
    transform: translateY(-50%);            
    color: rgba(63, 63, 71, 1);            
    font-size: 1rem;            
    pointer-events: none;            
    transition: all 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.inputbox input:focus ~ label, .inputbox input:not(:placeholder-shown) ~ label
{           
    opacity: 0;            
    visibility: hidden;
}
.inputbox input 
{           
    width: 100%;          
    border: none;            
    outline: none;            
    padding: 10px 5px;            
    font-size: 1rem;
}
.inputbox input::placeholder 
{                
    color: transparent;
}
.forget label 
{        
    bottom: 150px;        
    left: 5%;        
    display: flex;        
    align-items: center;        
    position: absolute;
}
.forget label input 
{            
    margin-left: 35px;            
    margin-top: 5px;
}
.forget a 
{       
    bottom: 180px;       
    left: 5%;        
    position: absolute;        
    color: rgba(63, 63, 71, 1);        
    text-decoration: none;        
    margin-left: 35px;       
    margin-top: 85px;       
    font-weight: 600;
}
.forget a:hover 
{           
    text-decoration: underline;
}
button 
{      
    width: 50%;        
    height: 40px;        
    border-radius: 40px;        
    background-color: rgb(255, 255, 255);               
    border: 1px solid rgb(224, 224, 224);                
    outline: none;        
    cursor: pointer;        
    font-size: 1rem;        
    font-weight: 600;       
    bottom: 60px;       
    left: 25%;        
    position: absolute;       
    transition: all 0.4s ease;
}
button:hover 
{          
    background-color: rgb(240, 240, 240);
}
.register 
{        
    bottom: 80px;
    left: 25%;
    position: absolute;
    font-size: 0.9rem;
    color: black;
    text-align: center;
    margin: 25px 0 10px;
}
.register p a 
{           
    text-decoration: none;            
    color: black;           
    font-weight: 600;
}
.register p a:hover 
{              
    text-decoration: underline;
}
.modal 
{       
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content 
{       
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
    border-radius: 5px;
}
.close 
{       
    color: #aaa;        
    float: right;        
    font-size: 28px;        
    font-weight: bold; 
}       
.close:hover, .close:focus 
{            
    color: black;            
    text-decoration: none;            
    cursor: pointer;
}
</style>
<body>
    <div class="loginWin">
        <h3 style="font-size: 24px; justify-content: center; text-align: center; margin-top: 50px;">Вхід</h3>
        <div class="inputbox">
            <input type="email" placeholder=" " id="email" required>
            <label for="email">Email</label>
        </div>
        <div class="inputbox">
            <input type="password" placeholder=" " id="password" required>
            <label for="password">Password</label>
        </div>
        <div class="forget">
            <a href="@Url.Action("ForgotPage", "Home")">Я забув свій пароль</a>
        </div>
        <button id="loginButton">Start</button>
        <div class="register">
            <p>У мене немає облікового запису <a href="@Url.Action("RegistrPage", "Home")">Реєстрація</a></p>
        </div>
    </div>
    <div id="customAlert" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Невірні дані для входу, спробуйте ще раз.</p>
        </div>
    </div>
    <script>
        document.getElementById('loginButton').addEventListener('click', function()
        {
            //test login for ADMIN
            var email = document.getElementById('email').value;
            var password = document.getElementById('password').value;
            if (email === 'admin@gmail.com' && password === 'admin123') 
            {
                window.location.href = '/home/MainPage';
            } 
            else if (email === 'user@gmail.com' && password === 'user123') 
            { 
                window.location.href = '/home/UserMainPage';
            }
            else 
            {
                showCustomAlert();
            }
        });
        function showCustomAlert() 
        {
            var modal = document.getElementById("customAlert");
            var span = document.getElementsByClassName("close")[0];
            modal.style.display = "block";
            span.onclick = function() 
            {
                modal.style.display = "none";
            }
            window.onclick = function(event) 
            {
                if (event.target == modal) 
                {
                    modal.style.display = "none";
                }
            }
        }
    </script>
</body>
</html>