@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- Page For User -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Main-Page | CRM System</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nunito" />
</head>
<style>
*
{
    font-family: Nunito;
}
body
{
    font-family: Nunito;
}
.sidebar 
{
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #e9e3e3;
    padding-top: 20px;
    text-align: center;
    box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.5);
}
.sidebar button 
{
    padding: 15px 15px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    font-weight: bold;
    display: block;
    width: 100%;
    height: 80px;
    text-align: left;
    border: none;
    background: none;
    cursor: pointer;
    background: #e9e3e3;
    border-bottom: 2px solid rgb(114, 114, 114);
    border-radius: 7px;
    transition: background-color 0.3s;
}
.sidebar button:hover 
{
    background-color: #a7a7a7;
}
.dashboardBtn
{
    background-image: url(./dashboards.png);
    background-size: cover;
    width: 10px;
}
.modal 
{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
}
.modal-content 
{
    background-color: white;
    margin: auto;
    padding: 40px;
    border-radius: 3px;
    width: 400px;
    text-align: center;
    font-size: 20px;
}
.modal button
{
    margin: 20px;
    padding: 1px 15px;
    font-size: 18px;
}
</style>
<body>
    <!-- SIDEBAR -->
    <div class="sidebar">
        <button class="dashboardBtn">DASHBOARD</button>
        <button class="leadsBtn">LEADS</button>
        <button class="customersBtn">CUSTOMERS</button>
        <button class="teamBtn">TEAM</button>
        <button class="profileBtn">PROFILE</button>
        <button class="logoutBtn">LOGOUT</button>
    </div>
    <!-- Log Out -->
    <div id="logoutModal" class="modal">
        <div class="modal-content">
            <p>Ви впевнені що хочете вийти з Акаунту?</p>
            <button id="confirmLogout">Так</button>
            <button id="cancelLogout">Ні</button>
        </div>
    </div>
    <script>
        document.querySelector('.logoutBtn').addEventListener('click', function() 
        {
            document.getElementById('logoutModal').style.display = 'flex';
        });
        document.getElementById('confirmLogout').addEventListener('click', function() 
        {
            window.location.href = '/home/Index';
        });
        document.getElementById('cancelLogout').addEventListener('click', function() 
        {
            document.getElementById('logoutModal').style.display = 'none';
        });
        window.onclick = function(event) 
        {
            var modal = document.getElementById('logoutModal');
            if (event.target == modal) 
            {
                modal.style.display = 'none';
            }
        }
    </script>
</body>
</html>